#title {
	text-align:center;
	background-color:grey;
	padding-top: 50px;
	padding-bottom: 50px;
	color:white;
}

.circle {
	background-color:white;
	border-color:grey;
	border-radius: 50px;
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 50px;
}

#body {
	padding-right: 100px;
	padding-left: 100px;
}